html, body {
  background-color: #555555;
  color: #222222;
  font-family: "Libre Baskerville", Baskerville, serif;
}

.well {
  background-color: antiquewhite;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Thanks to http://nicolasgallagher.com/pure-css-folded-corner-effect/ */

.well:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 1em 1em 0;
  border-style: solid;
  border-color: #ddd #555555;
}

#prompt {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  padding: 1em;
  text-align: center;
  pointer-events: none;
}

#generate {
  width: 100%;
  border: none;
  background-color: antiquewhite;
  color: crimson;
  font-size: 1em;
  font-weight: bold;
  font-family: "Libre Baskerville", Baskerville, serif;
}

/* Thanks to Damoin Yeatman's http://cssdeck.com/labs/styling-select-box-with-css3 */

label.select-arrow {
  position: relative;
}

label.select-arrow:after {
  content: ">";
  color: crimson;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  right: 2px;
  top: 2px;
  position: absolute;
  pointer-events: none;
}

#kind {
  width: 100%;
  border: none;
  background-color: antiquewhite;
  color: crimson;
  font-size: 1em;
  font-family: "Libre Baskerville", Baskerville, serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#kind:focus {
  outline: none;
}